body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*! background-color: #000; */
  font-family: sans-serif;
  margin: 0;
  background: url('https://images.unsplash.com/photo-1514897575457-c4db467cf78e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  backdrop-filter: blur(1.7px);
}

h1 {
  text-align: center; 
  color: white;
}

form {
  position: relative;
}

p {
  color: white;
}


input[type=text] {
  width: 250px;
  height: 37.5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: none; /* Remove the border */
  outline: none; /* Remove the click highlight */
  user-select: none; /* Prevent text selection */
}

#co-form {
  display: none;
}

#unblocker-form {
  display: none;
}

#selected-proxy-text {
color: white;
}

button {
  border: transparent;
  background-color: transparent;
  color: white;
  cursor: pointer;
  width: 100px;
}
