body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242830;
  font-family: sans-serif;
  margin: 0;
}

h1 {
  text-align: center; 
  color: white;
}

form {
  position: relative;
  margin: auto; /* Center the form horizontally */
}

p {
  color: white;
}

input[type=text] {
  width: 250px;
  height: 37.5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: none; /* Remove the border */
  outline: none; /* Remove the click highlight */
  user-select: none; /* Prevent text selection */
}

#co-form {
  display: none;
}

#selected-proxy-text {
color: white;
}

button {
  border: transparent;
  background-color: transparent;
  color: white;
  cursor: pointer;
  width: 100px;
}